:root{
    --bg-header-color: 3E606F;
    --bg-footer-color: 193441;
    --bg-body-color:  FFFFFF;
    
    --bg-cards-color: A4CADC;
    --btn-colors: linear-gradient(#86b8d0,#4995b9)

}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: black;
    color: aliceblue;
}
.container{
    max-width: 1200px;
    margin: auto;
}

/* Menu */
.img__logo{
    width: 150px;
    height: 80px;
}
.menu{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    left: 0%;
    right: 0%;
    padding: 0%;
    background-color: rgb(32, 34, 35);
}
.nav__bar ul{
    display: flex;
}

.nav__items{
    align-items: center;
    justify-content: center;
}
.nav__items li a{
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 10px;    
}
.items{
    width: auto;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.items:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}



.items__sub{
    display: flex;
}
.sub__menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    /* width: 0px; */
    padding: 16px;
    transition: .5s;
    list-style: none;
    clip-path: var(--clip);
    position: absolute; 
    right: 65px;
    top: 80px;
    width: max-content;
    background-color:rgba(17, 50, 148, 0.487) ;
}






.hambur{
    display: none;
}
.hambur img{
    width: 40px;
    height: 30px;
}



