:root{
    --bg-header-color: 3E606F;
    --bg-footer-color: 193441;
    --bg-body-color:  FFFFFF;
    
    --bg-cards-color: A4CADC;
    --btn-colors: linear-gradient(#86b8d0,#4995b9);

    --padding-titulos-grandes: 20px 0px 0px 0px;
    --margin-titulos-grandes: 35px 0px 0px 0px;

    --bg--transparente: rgb(255, 255, 255, .05);
    --bg-filter: blur(10px);

    --card-width: 320px;
    --card-heigth: 580px;

    --bordes--card: 25px;
    --border--card-img: 25px 25px 0 0;

    
    --tamaño-letra-primaria: 28px;
    --tamaño-letra-secundaria: 20px;
    --tamaño-letra-terciaria: 14px;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* outline: 1px solid red; */
}
body{
    font-family: sans-serif;
}

.container{
    overflow: hidden;
}


/* Inicio de sobre nosotros */
.img__fondo{
    background-image: url("../imgs/background/sobre-nosotros.webp");
    height: calc(100vh - auto);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
}
.inicio{
    position: relative;
    top: 100px;
}

.inicio__info h1{
    padding: var(--padding-titulos-grandes);
    margin: var(--margin-titulos-grandes);
    font-size: 32px;
    line-height: 70px;
    font-weight: 700;
}
.info{
    width: 80%;
    height: 80%;
    overflow: hidden;
}
.inicio__info p{
    padding: var(--padding-titulos-grandes);
    margin: var(--margin-titulos-grandes);
    font-weight: 100;
    font-size: 14px;
}

.info-2{
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.info-2 h2{
    padding: 20px 20px 5px;
    margin: 0px 20px 0px;
    font-size: 32px;
    line-height: 70px;
    font-weight: 700;
}
.info-2 p{
    padding: 20px 20px 5px;
    margin: 0px 20px 0px;
    font-weight: 100;
    font-size: 14px;
}

.img__experiencia img{
    width: auto;
    height: auto;
}


/* Cartas */
.experiencias{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;

}
.cartas{
    width: var(--card-width);
    height: auto;

    margin: auto;
}
.cartas i{
    font-size: 32px;
    color: #86b8d0;
}


/* Modo mobile */
@media (max-width:991px){

    .header{
        position: relative;
        width: 100%;
    }
    
    .hambur{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto 20px;
    }
    .menu{
        position: absolute;
        width: 100%;
        right: 0%;
        align-items: end;   
    }
    .img__logo{
        width: 110px;
        height: 70px;
    }
    .nav__bar{
        display: none;

    }
    .nav__items{
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0%;
        width: 100%;
        background: #000c11d7;
        align-items: start;
        justify-content: start;
        z-index: 2000;
    }
    .nav__bar.activee{
        display: flex !important;

        z-index: 2000;
    }

    .sub__menu{
        flex-direction: column;
        top: 70px;
        right: 5px;
        padding: 10px;
        margin: 10px;
        background: var(--btn-colors);
    }



    /* Inicio */
    .inicio{
        margin-bottom: 60px;
    }
    .inicio__info{
        margin-bottom: 20px;
    }
    .inicio__info h1{
        margin: 0%;
        padding-top: 0%;
    }
    .info{
        width: 90%;
        margin: 0px 0px 20px;
        padding: 0%;
    }
    .info p{
        margin: 0px 10px 0px;
        padding-top: 0%;
        width: 100%;
    }

    .experiencias_laboral{
        margin-top: 40px;
        height: 100%;
        padding: 20px;
    }

    .info-2{
        margin: 20px auto;
    }

    .info-2 p{
        margin: 0%;
        padding: 0%;
    }
    .img__experiencia img{
        display: none;
    }

}