@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Roboto&display=swap');
:root{
    --bg-header-color: 3E606F;
    --bg-footer-color: 193441;
    --bg-body-color:  FFFFFF;
    
    --bg-cards-color: #A4CADC;
    --btn-colors: linear-gradient(#d7e1e6,#0e9cdd);

    --padding-titulos-grandes: 20px 20px 20px 20px;
    --margin-titulos-grandes: 35px 30px 30px 0px;

    --bg--transparente: rgb(255, 255, 255, .05);
    --bg-filter: blur(10px);

    --card-width: 320px;
    --card-heigth: 580px;

    --bordes--card: 25px;
    --border--card-img: 25px 25px 0 0;

    
    --tamaño-letra-primaria: 28px;
    --tamaño-letra-secundaria: 20px;
    --tamaño-letra-terciaria: 14px;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* outline: 1px solid red; */
}

body{
    background-color: black;
    color: aliceblue;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
h1,h2,h3,h4,h5{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1200px;
    margin: auto;
}

/* Menu */
.img__logo{
    width: 90px;
    height: 80px;
    border-radius: 0px 0px 0px 15px;
}
.menu{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    left: 0%;
    right: 0%;
    padding: 0%;
    background-color: var(--bg--transparente);
    backdrop-filter: var(--bg-filter);
    z-index: 1000;
}

/* CAMBIANDO EL MENU CUADNO HAGO SCROLL */
.menu.scrolled {
    background: linear-gradient(#72a5be,#0e9cdd);
    color: #f6f6f6;
    border-radius: 0 0 15px 15px;
    transition: all .7s ease-in-out;

}


.nav__bar ul{
    display: flex;
}

.nav__items{
    align-items: center;
    justify-content: center;
}
.nav__items li a{
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 10px;    
}
/* .item:hover{
    background: var(--btn-colors);
    width: 100px;
    padding: 16px;
    border-radius: 15px;
} */


.items{
    width: auto;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.items:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}



.items__sub{
    display: flex;
}
.sub__menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    border-radius: 10px;
    padding: 10px;
    transition: .5s;
    list-style: none;
    clip-path: var(--clip);
    position: absolute; 
    right: 100px;
    top: 80px;
    width: max-content;
    background-color: rgba(21, 20, 20, 0.633);
    backdrop-filter: var(--bg-filter);
    z-index: 1000;
}

.hambur{
    display: none;
}
.hambur img{
    width: 40px;
    height: 30px;
}


/* Inicio main */
.img__fondo{
    background-image: url("../imgs/background/autocity-seis-marcas.webp");
    height: calc(100vh - 10px);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
}
.inicio{
    position: relative;
    top: 70px;


}
.inicio__txt h1{
    padding: var(--padding-titulos-grandes);
    margin: var(--margin-titulos-grandes);
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    text-shadow: 10px 10px 10px  black;

}
.inicio__txt p{
    padding: var(--padding-titulos-grandes);
    margin: var(--margin-titulos-grandes);
    font-weight: 500;
    font-size: 20px;
    font-family: sans-serif;
    text-shadow: 3px 2px 5px  black;
}

.btns{
    display: flex;
    /* flex-direction: column; */
}

.flecha{
    width: 100px;
    height: 300px;
    padding: 1px;
}

.btn-1,.btn-2{
    display: inline-block;
    width: 250px;
    padding: 16px 20px;
    margin: 50px 20px;
    border-radius: 30px;
    text-decoration: none;
    background-color: #ffffff;
    text-align: center;
    color: rgb(0, 0, 0);
}
.btn-1:hover , .btn-2:hover{
    outline: 3px solid #72a5be;
    background-color: transparent;
    color: white;
}

/* Cartas de autos */




.section__2 , .section__2__cartas{
    display: flex;
    flex-direction: container;
}

.cartas__fondo__1, 
.cartas__fondo__2{
    display: flex;
    align-items: end;
    height: 550px;
    text-align: center;
    border-radius: 25px 25px;
    margin: 20px;

}
.cartas__fondo__1{
    background-image: url("../imgs/background/0km.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.cartas__fondo__2{
    background-image: url("../imgs/background/auto-usado.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.cartas__text{
    background-color: var(--bg--transparente);
    backdrop-filter: var(--bg-filter);
    border-radius: 25px;
}



/* Slider de autos usados y 0km */

.productos{
    margin-top: 100px;
}

.productos__title{
    width: 100%;
    height: 50px;
    margin: 0;
    text-align: center;

}

.productos__title .title{
    font-size: 40px;
    padding: 0px 40px 20px;
    font-weight: 400;
    margin: 20px auto;

}
.productos__title .title-2{
    font-size: 40px;
}


.swiper-wrapper{
    display: flex;
    margin-bottom: 25px;
}




.card{

    width: var(--card-width);
    /* height: var(--card-heigth); */
    height: auto;
    background-color: #f6f6f6;
    border-radius: 25px;
    margin: 20px auto;
}
.card__img{
    width: 100%;
    height: 200px;
}
.card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.card__contenido{
    text-align: center;
}
.card__contenido h2{
    text-align: center;
    padding: 5px;
    color: black;
    font-weight: 200;
    font-size: var(--tamaño-letra-secundaria);
}
.card__contenido span{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
    font-size: var(--tamaño-letra-secundaria);
}

.card__contenido ul{
    font-size: 18px;
    width: 260px;
    text-align: center;
    font-weight: 100;
}
.card__contenido ul li{
    text-align: center;
    margin: auto;
}

.card__contenido .btn-card{
    display: inline-block;
    width: 150px;
    padding: 10px 12px;
    margin: 10px 10px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    color: white;
    background: var(--btn-colors);
}

.btn-card:hover{
    background-color: transparent;
    background: linear-gradient(#26cfcf, #a3cccc);
    color: white;
}


/* Accordion */
.accordion{

    background-color: rgb(228, 222, 222);
    width: 90%;
    padding: 1,5rem;
    margin: 60px auto;



    box-shadow: 0 0 10px -3px rgb(0, 0, 0, 0.5);

    border-radius: 16px;
    border-left: 6px solid rgb(0, 110, 255);
}




.accordion__link{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    display: none;
}

.accordion__link i{
    display: inline-block;

    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: rgb(0, 110, 255);
    text-decoration: none;
    font-weight: 500;
    font-size:  28px;
}


.accordion__item{
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .3s grid-template-row;
}

.items{
    overflow: hidden;
}
.items{
    display: flex;
    flex-wrap: wrap;
    gap: 1;

}

.accordion:has(:checked){
    --rows: 1fr;
}

.items .card{

    text-align: center;
    /* padding: 20px; */
    margin: 20px auto;
    background-color: #f6f6f6;
    box-shadow: 4px 4px 20px 1px rgb(0, 0, 0, 0.2);
}

/* Sobre nostros  */
  
.sobre__text{
    position: relative;
    background-image: url("../imgs/background/sobre.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;

    border-radius: 25px;
}
.sobre__text::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 50px;
    left: 0px;
    background-color: rgba(8, 8, 8, 0.625);
    border-radius: var(--bordes--card);

}     
.detalles__sobre{
    position: relative;
    z-index: 100;
}

.detalles__sobre h2{
    font-size: 56px;
    padding: 20px;
    margin: 40px;
}
.detalles__text{
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 40px;
}
.detalles__text p{
    font-size: 20px;
}
.detalles__btn{
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 40px;
}


/* footer */



.footer{
    /* position: absolute; */
    left: 100%;
    bottom: 0%;
    margin-top: 0%;
    height: auto;
    z-index: 100;
    border-radius: 20px;

}
.footer__pa{
    position: relative;
    width: 100%;
    top: 0%;
    bottom: 0%;
    left: 0%;
    margin: 0px 0;
    border-radius: 20px;
}
.footer__pa::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    bottom: 0%;
    left: 0%;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 20px;
}

.footer .footer__adelante{
    position: relative;
    z-index: 100;
    margin: 20px 0;
    padding: 20px;
}

.logo__footer{
    display: flex;
    align-items: end;
    margin: 20px;

}
.logo__footer img{
    width: 180px;
    height: 100px;
    margin: 20px;
}
.logo__footer a{
    text-decoration: none;
    color: white;
}
.logo__footer a h1{
    font-size: 32px;
    margin: 20px;
    color: var(--color-btn1);
    
}
.logo__footer h1:hover{
    text-decoration: underline;
}



.footer__nav{
    display: flex;
    text-shadow: center;

    justify-content: space-between;

}
.footer__nav .list{
    align-items: center;
    text-align: center;
    padding: 20px;
}
.list h3{
    display: flex;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    
}
.list ul{
    padding: 0%;
}
.list ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #f6f6f6;
    text-align: center;
}


.footer__adelante p{
    text-align: center;
}




/* mobile */
@media only screen and (max-width:991px){
    /* menu */
    /* *{
        /* outline: 1px solid red ; */
    
    .header{
        position: relative;
        width: 100%;
    }
    
    .hambur{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto 20px;
        /* background-color: #0e9cdd; */
    }
    .menu{
        position: absolute;
        width: 100%;
        right: 0%;
        /* left: -400px;     */
        align-items: end;   
        /* background-color: #0e9cdd;   */
    }
    .img__logo{
        width: 110px;
        height: 70px;
    }
    .nav__bar{
        display: none;
    }
    .nav__items{
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0%;
        width: 100%;
        background: #011822d7;
        align-items: start;
        justify-content: start;
        border-radius: 20px;
        z-index: 1000;
    }
    .items{
        margin: 20px;
    }
    .nav__bar.active{
        display: flex;
    }

    .sub__menu{
        flex-direction: column;
        top: 70px;
        right: 5px;
        padding: 10px;
        margin: 10px;
        background: var(--btn-colors);
    }

    /* Inicio */
    .inicio__txt h1{
        padding: 0%;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .inicio__txt p{
        margin: 15px;
        padding: 0%;
    }
    .btns{
        flex-direction: column;
        margin: 0%;
    }
    .btns a{
        margin: 20px;
    }

    /* cartas de los autos que vendemos  */
    .cartas__text h2, 
    .cartas__text p, 
    .cartas__text a{
        margin: 20px;
    }

    /* Sobre nosotros */
    .detalles__sobre h2{
        font-size: 50px;
    }
    .detalles__text{
        padding: 0%;
        width: 300px;
        margin: auto;
    }
    .detalles__text p{
        width: 100%;
        padding: 0%;
    }
    .detalles__btn{
        margin: auto;
        padding: 10px;
    }
    .detalles__btn a{
        margin: auto;
    }

    /* footer */
    .footer__adelante{
        display: flex;
        flex-direction: column;
    }

    .logo__footer{
        flex-direction: column;
        align-items: center;
    }
    
    .footer__nav{
        flex-direction: column;
    }
    .footer__list .list{
        margin: auto;
        padding: 20px;
        align-items: center;
        justify-content: center;
    }
    .list h3{
        display: block;
    }

}